ul,
li {
  list-style: none;
}

.results {
  margin: 20px;
}

.alien {
  bottom: 0;
  position: fixed;
  width: 45%;
  right: 25%;
  animation: alien 5s infinite alternate;
}

.weather-container {
  position: relative;
}

.weather-icon {
  position: absolute;
  width: 33%;
  opacity: 1;
  animation-name: weather;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

@-webkit-keyframes weather {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes alien {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes weather {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes alien {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
